* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: initial;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que o header fique acima das outras partes da página */
}

.container {
  display: flex;
  flex: 1;
}

.column {
  height: calc(100vh - 50px); /* Ajuste a altura conforme necessário */
}

.column-left {
  width: 30%;
  background-color: lightblue;
}

.column-right {
  flex: 1; /* Flex 1 faz com que esta coluna ocupe o espaço restante */
  background-color: lightgreen;
}

/* Exemplo básico de CSS para o menu de navegação */
nav {
  background-color: #f0f0f0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: #666;
}
