* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: initial;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container {
  display: flex;
  flex: 1;
}

.column {
  height: calc(100vh - 50px);
}

.column-left {
  width: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.column-right {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco translúcido */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para criar profundidade */
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a altura da coluna */
}

/* Estilizações adicionais */

.column-left p {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.column-left p:hover {
  background-color: #0056b3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(33.33% - 20px);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.dialog h3 {
  margin-bottom: 10px;
}

.dialog p {
  margin-bottom: 5px;
}

.dialog button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dialog button:hover {
  background-color: #0056b3;
}
