* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.header h1 {
  margin-left: 20px;
}

.header input[type="text"] {
  width: 300px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #0a0404;
  font-size: 14px;
  transition: all 0.3s ease;
}

.header input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(224, 179, 179, 0.2);
}

.main-content {
  display: flex;
  height: calc(100vh - 60px); /* Altura total menos a altura do header */
}

.column-left {
  width: 20%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.column-left ul {
  list-style: none;
  padding: 0;
}

.column-left ul li {
  background-color: #e6e6dc7d;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
}

.column-left ul li:hover {
  color: #ffffff;
  background-color: #c8dec9; /* Cor de fundo ao passar o cursor */
  box-shadow: 0 8px 15px rgba(46, 45, 45, 0.2);
  transform: translateY(-5px);
}

/* Temas claros e escuros */
.light .column-left {
  background-color: #f4f4f4;
  color: #353434;
}

.dark .column-left {
  background-color: #36373b;
  color: #f4f4f4;
}

.dark .column-left ul li:hover {
  background-color: #898b94;
  color: #f4f4f4;
}

.column-right {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(33.33% - 20px);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.card p {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #333;
  background-color: #f9f9f9;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garante que a sobreposição esteja acima do restante do conteúdo */
}

.dialog {
  background-color: #fff; /* Fundo branco para o diálogo */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.dialog h3 {
  margin-bottom: 10px;
}

.dialog p {
  margin-bottom: 5px;
}

.dialog button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.dialog button.close {
  background-color: #007bff;
  color: white;
}

.dialog button.edit {
  background-color: #007bff;
  color: white;
}

.dialog button.delete {
  background-color: #f44336;
  color: white;
}

.dialog button:hover {
  transform: scale(1.05);
}

.dialog button.close:hover {
  background-color: #0056b3;
}

.dialog button.edit:hover {
  background-color: #f4e345;
}

.dialog button.delete:hover {
  background-color: #969595;
}

form {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2);
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* CSS para o seletor de tema claro e escuro */

.theme-switcher {
  position: relative;
  width: 70px;
  height: 25px;
}

.theme-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5e6363;
}

input:checked + .slider:before {
  transform: translateX(45px);
}

body.light .slider {
  background-color: #dedbdb;
}

body.dark .slider {
  background-color: #666;
}

/* Melhorias para o tema escuro */

.dark .column-left {
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.dark .column-left ul li {
  background-color: #4444448a;
  color: #e0e0e0;
}

.dark .column-left ul li:hover {
  background-color: #666;
  color: #ffffff;
}

.dark .column-right {
  background-color: #202124;
  color: #e0e0e0;
}